/home/fhtw_user/catkin_ws/src/HW_3/src/PoseEstimation/estimate_pose.o

/home/fhtw_user/catkin_ws/src/HW_3/src/PoseEstimation/estimate_pose

/home/fhtw_user/catkin_ws/src/HW_3/src/LearnObject/feature_extraction

/home/fhtw_user/catkin_ws/src/HW_3/src/LearnObject/feature_extraction.o

/home/fhtw_user/catkin_ws/src/HW_3/src/Calibrate/calibrate_camera

/home/fhtw_user/catkin_ws/src/HW_3/src/Calibrate/calibrate_camera.o

/home/fhtw_user/catkin_ws/src/HW_3/src/Test/test.o

/home/fhtw_user/catkin_ws/src/HW_3/src/Test/test

.vscode/settings.json